.details-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: start;
  justify-self: start;
  width: 100%;
}

.details-overview {
  border-right: 2px solid var(--neo-border);
  background: hsla(0, 0%, 100%, .05);
  padding: 1em;
  height: 100%;
  max-width: 450px;
  box-shadow: 8px 0 8px hsla(0, 0%, 0%, .2);
  animation: slide-in 500ms ease-out;
}
#details-icon {
  max-width: 100%;
  max-height: 100%;
  border-radius: 500px;
  border: 12px solid var(--neo-border);
  box-shadow: 4px 4px 8px hsla(0, 0%, 0%, .2);
  animation: icon-draw-in 200ms ease-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

#details-title {
  font-size: 36px;
  font-weight: bold;
  margin: 1em 0 .5em 0;
}

.overview-item#details-title {
  animation: text-reveal 200ms ease-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.details-content {
  width: 100%;
  padding: 1em;
  max-height: calc(100vh - 78px);
  overflow: auto;
  animation: text-reveal 200ms ease-out;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
  opacity: 0;
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes icon-draw-in {
  0% {
    transform: scale(.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes text-reveal {
  0% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}


.content-item#details-body {
  padding: 1em;
}
.details-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.details-body-title {
  margin: 1em 0 1em 0;
}
.details-body-subtitle {
  margin: 4em 0 1em 0;
}
.details-body-item {
  padding: 0 1em;
}

.details-body-item:not(:last-child) {
  border-bottom: 1px solid var(--neo-border);
}