#root:has(.login-root) {
  justify-content: center;
}
.login-root {
  box-shadow: 2px 2px 4px hsla(0, 0%, 90%, 0.2);
  background: var(--bg-1-glass);
  backdrop-filter: blur(4px) brightness(2);
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  padding: 1em;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
}
.login-container-item#welcome,
.login-container-item#app-name {
  align-self: center;
}
#app-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-design {
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.login-design-item#login-design-img {
  object-fit: scale-down;
  --size: 600px;
  width: 100%;
  max-width: var(--size);
  max-height: var(--size);
}


