.textsplit-wrapper {
  line-height: 100%;
  perspective: 400px;
}
.textsplit-align-center { justify-content: center; }
.textsplit-align-right { justify-content: right; }

.textsplit-char {
  display: inline-block;
  position: relative;
}

.textsplit-word {
  display: inline-block;
  overflow: hidden;
  position: relative;
}