.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
  text-decoration: none;
  cursor: pointer;
  gap: 1em;
  border-radius: 10px;
  color: var(--color-2);
  transition: transform 100ms ease-in-out;
  gap: 10px;
  border: 1px solid transparent;
  user-select: none;
  -webkit-user-drag: none;
  padding: 10px;
  margin: 1em;
  margin-bottom: 0;
}

.icon-button:hover {
  border-top-color: hsla(0, 0%, 0%, 0.1);
  border-bottom-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}
.icon-button:active {
  box-shadow: 0px 4px 4px 0px inset rgba(0, 0, 0, 0.25);
  transform: translateY(1px);
}

.icon-button-icon {
  height: 100%;
}

.icon-button-img {
  max-width: 30px;
  max-width: 30px;
  -webkit-user-drag: none;
}