.item-browser {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
#root:has(.item-browser) {
  height: unset;
}

.item-browser-title {
  font-size: 48px;
}

.item-browser-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}