:root {
  --color-1--dark: hsl(0, 0%, 95%);
  --color-2--dark: hsl(0, 0%, 90%);
  --color-3--dark: hsl(0, 0%, 80%);
  --color-1--light: hsl(0, 0%, 5%);
  --color-2--light: hsl(0, 0%, 10%);
  --color-3--light: hsl(0, 0%, 20%);
  --bg-1--dark: hsl(0, 0%, 7%);
  --bg-2--dark: hsl(0, 0%, 2%);
  --bg-1--light: hsl(0, 0%, 93%);
  --bg-2--light: hsl(0, 0%, 98%);
  --bg-1-glass--dark: hsla(0, 0%, 10%, .5);
  --bg-1-glass--light: hsla(0, 0%, 95%, .5);
  --accent-1--dark: #2256c0;
  --accent-glass-1--dark: hsla(220, 70%, 44%, 0.25);
  --accent-glass-1--light: hsla(220, 70%, 44%, 0.25);
  --accent-1--light: #2a6bed;
  --iso--dark: #2c6dee;
  --iso--light: #2256c0;

  --neo-border--dark: hsla(0, 0%, 100%, 0.1);
  --neo-border--light: hsla(0, 0%, 0%, 0.1);
}

@media (prefers-clor-scheme: dark) {
  :root {
    --color-1: var(--color-1--dark);
    --color-2: var(--color-2--dark);
    --color-3: var(--color-3--dark);
    --bg-1: var(--bg-1--dark);
    --bg-2: var(--bg-2--dark);
    --bg-1-glass: var(--bg-1-glass--dark);
    --accent-1: var(--accent-1--dark);
    --accent-glass-1: var(--accent-glass-1--dark);
    --iso: var(--iso--dark);
    --neo-border: var(--neo-border--dark);
    color-scheme: dark;
  }
}

@media (prefers-clor-scheme: light) {
  :root {
    --color-1: var(--color-1--light);
    --color-2: var(--color-2--light);
    --color-3: var(--color-3--light);
    --bg-1: var(--bg-1--light);
    --bg-2: var(--bg-2--light);
    --bg-1-glass: var(--bg-1-glass--light);
    --accent-1: var(--accent-1--light);
    --accent-glass-1: var(--accent-glass-1--light);
    --iso: var(--iso--light);
    --neo-border: var(--neo-border--light);
    color-scheme: light;
  }
}

:root[color-scheme="dark"] {
  --color-1: var(--color-1--dark);
  --color-2: var(--color-2--dark);
  --color-3: var(--color-3--dark);
  --bg-1: var(--bg-1--dark);
  --bg-2: var(--bg-2--dark);
  --bg-1-glass: var(--bg-1-glass--dark);
  --accent-1: var(--accent-1--dark);
  --accent-glass-1: var(--accent-glass-1--dark);
  --iso: var(--iso--dark);
  --neo-border: var(--neo-border--dark);
  color-scheme: dark;
}

:root[color-scheme="light"] {
  --color-1: var(--color-1--light);
  --color-2: var(--color-2--light);
  --color-3: var(--color-3--light);
  --bg-1: var(--bg-1--light);
  --bg-2: var(--bg-2--light);
  --bg-1-glass: var(--bg-1-glass--light);
  --accent-1: var(--accent-1--light);
  --accent-glass-1: var(--accent-glass-1--light);
  --iso: var(--iso--light);
  --neo-border: var(--neo-border--light);
  color-scheme: light;
}