.combo-box-container {
  margin: 1em;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.combo-box {
  width: fit-content;
  padding: .5em;
  border-top: 1px solid var(--neo-border);
  border-bottom: 1px solid var(--neo-border);
  border-radius: 10px;
  font-size: 20px;
  /* backdrop-filter: blur(4px); */
  transition: background 100ms ease-in-out;
  position: relative;
}
.combo-box:hover {
  background: hsla(223, 60%, 15%, .2);
}
