.tabs-wrapper {
  display: flex;
  justify-content: center;
}
.tabs-selector {
  gap: .5em;
  border: 1px solid transparent;
  justify-content: center;
  border-top-color: var(--neo-border);
  background: hsla(0, 0%, 0%, 0.1);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  padding: .5em;
}

.tabs-selector-item {
  user-select: none;
  background: hsla(0, 0%, 25%, 0.2);
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;
  border-top-color: var(--neo-border);
  transition: 
    100ms ease-in-out border-color,
    100ms ease-in-out background,
    100ms ease-in-out transform;
}
.tabs-selector-item:hover {
  border-bottom-color: var(--neo-border);
  transform: translateY(-2px);
  background: hsla(0, 0%, 50%, 0.1);
  box-shadow: 4px 4px 4px hsla(0, 0%, 0%, .1);
}
.tabs-selector-item:active,
.tabs-selector-item.selected {
  transform: translateY(0px);
  background: hsla(0, 0%, 00%, 0.1);
  box-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, .5);
}


.tab-content {
  padding: 1em;
  background: hsla(0, 0%, 0%, 0.2);
  border-radius: 20px;
}